body {
    background: #ddd;
}

div {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
a:hover{
    text-decoration:none;
}
.headerTitle{
    margin:0;
    background: #A9D18E;
    border: 1px solid #68A978;
}
.homepage{
    margin: 15px ;
}
.adContainer {
    border: 1px solid #68A978;
    background: #A9D18E;
}

.adText {
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px dotted #28E254;
    background: #C5E0B4;
}

.adInfo {
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px dotted #28E254;
    background: #C5E0B4;
    margin: 0px;
}


.panel{
    background: #A9D18E;
    margin: 0px;
    margin-top: 0px;
    border: 1px solid #68A978;
}

img {
    border-radius: 5px;
    width: 200px;
    height: 220px;
}

.buttons {
    color: white;
}

ul {
    list-style-type: none;
}

button{
    border:1px solid #4F8736;
    border-radius:5px;
    background:#70AD47;
    width: 100px;
    height: 48px;
    text-align: center;
    font-weight:bold;
    color: white;
}
button:hover{
    background:#7FCC53;
}
