<div >
	<h1>User Registration</h1>
	<hr>
	<form >
		<div class="form-group">
			<label for="username" class="col-lg-4 control-label">Username:</label>
			<input type="text" id="username" class="control-label" placeholder="Username" required="required" ng-model="user.username"/>
		</div>
		<div class="form-group">
			<label for="password" class="col-lg-4 control-label">Password:</label>
			<input type="password" id="password" class="control-label" placeholder="Password" required="required" ng-model="user.password" />
		</div>
		<div class="form-group">
			<label for="confirmPassword" class="col-lg-4 control-label">Confirm Password:</label>
			<input type="password" id="confirmPassword" class="control-label" placeholder="Confirm password" required="required" ng-model="user.confirmPassword"/>
		</div>
		<div class="form-group">
			<label for="name" class="col-lg-4 control-label">Name:</label>
			<input type="text" id="name" class="control-label" placeholder="Name" required="required" ng-model="user.name"/>
		</div>
		<div class="form-group">
			<label for="email" class="col-lg-4 control-label">Email:</label>
			<input type="email" id="email" class="control-label" placeholder="Email" required="required" ng-model="user.email"/>
		</div>
		<div class="form-group">
			<label for="phone" class="col-lg-4 control-label">Phone:</label>
			<input type="phone" id="phone" class="control-label" placeholder="Phone" required="required" ng-model="user.phone"/>
		</div>
		<div class="form-group">
			<label for="inputTown" class="col-lg-4 control-label">Town:</label>
			<select id="inputTown" ng-model="user.townId">
				<option ng-repeat="town in towns" value="{{town.id}}" >{{town.name}}</option>
			</select>
		</div>
		<div class="form-group">
			<span class="col-md-3"></span>
			<button class="col-md-3" ng-click="register(user)">Register</button>
			<a href="#/login" class="col-lg-5" >Login here</a>
		</div>
	</form>
</div>