<div>
    <img src="images/loading.gif" ng-hide="ready" alt="">
    <ul>
        <li  ng-repeat="ad in adsData.ads" ng-cloak>
            <div class="adContainer well panel" >
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="pull-left">
                                {{ad.title}}
                            </h4>
                        </div>
                        <div class="col-md-6">
                       <span class="pull-right">
                           {{ad.date | date: "dd-MMM-yyyy"}}
                       </span>

                            <br/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <img src="" ng-src="{{ad.imageDataUrl || 'images/noImage.png'}}"/>
                        </div>

                        <div class="col-md-8">
                            <div class="adText">
                                {{ad.text}}
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                     E-mail
                                </div>
                                <div class="col-md-8 adInfo">
                                        {{ad.ownerEmail}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                     Phone
                                </div>
                                <div class="col-md-8 adInfo">
                                        {{ad.ownerPhone}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    Status: {{ad.status}}
                </div>
            </div>
        </li>
    </ul>
    <pagination class="col-md-12" ng-model="currentPage" page="adsData.startPage" total-items="adsData.numItems" ng-change="pageChanged(currentPage)" items-per-page="pageSize"></pagination>
</div>

